<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>*ngIf</h1>
      <hr>
      <button type="button" class="btn btn-outline-primary block col-sm-12" (click)="mostrar = !mostrar">Mostrar/Ocultar</button>
      <div>
        <br>
      </div>
      <div *ngIf="mostrar" class="card text-white bg-primary mb-3">
        <div class="card-header">{{frase.mensaje}}</div>
        <div class="card-body">
          <p class="card-text">{{frase.autor}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h1>*ngFor</h1>
      <hr>
      <ul class="list-group">
        <li *ngFor="let personaje of personajes; let i=index" class="list-group-item">{{i+1}}. {{personaje}}</li>
      </ul>
    </div>
  </div>
</div>